body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.login-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://wallpaperaccess.com/full/2968326.jpg');
}
.login-container {
    background-color: #424242;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #f13a11;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.login-container button:hover{
   background-color: #fff;
   color: #f13a11;
}

.login-container a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}
.lg{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.user{
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    padding: 0px 20px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.user:hover{
    background-color: #f13a11;
    transition: 0.5s;
}
.login-container .admin{
   text-decoration: none;
   color: #fff;
   font-size: 20px;
   padding-bottom: 6px;
   cursor: pointer;
}
.active{
    background-color: #f13a11;
}